__pycache__/
*.pyc

InterimResults/image0001.jpg
WeldGapPositions.csv
__pycache__/Filter2.cpython-311.pyc
__pycache__/MusMethod.cpython-311.pyc

InterimResults/image0002.jpg
InterimResults/image0003.jpg
InterimResults/image0004.jpg
InterimResults/image0005.jpg
InterimResults/image0006.jpg
InterimResults/image0007.jpg
InterimResults/image0008.jpg
InterimResults/image0009.jpg
InterimResults/image0010.jpg
InterimResults/image0011.jpg
InterimResults/image0012.jpg
InterimResults/image0013.jpg
InterimResults/image0014.jpg
InterimResults/image0015.jpg
InterimResults/image0016.jpg
InterimResults/image0017.jpg
InterimResults/image0018.jpg
InterimResults/image0019.jpg
InterimResults/image0020.jpg
InterimResults/image0021.jpg
InterimResults/image0022.jpg
InterimResults/image0023.jpg
InterimResults/image0024.jpg
InterimResults/image0025.jpg
InterimResults/image0026.jpg
InterimResults/image0027.jpg
InterimResults/image0028.jpg
InterimResults/image0029.jpg
InterimResults/image0030.jpg
InterimResults/image0031.jpg
InterimResults/image0032.jpg
InterimResults/image0033.jpg
InterimResults/image0034.jpg
InterimResults/image0035.jpg
InterimResults/image0036.jpg
InterimResults/image0037.jpg
InterimResults/image0038.jpg
InterimResults/image0039.jpg
InterimResults/image0040.jpg
InterimResults/image0041.jpg
InterimResults/image0042.jpg
InterimResults/image0043.jpg
InterimResults/image0044.jpg
InterimResults/image0045.jpg
InterimResults/image0046.jpg
InterimResults/image0047.jpg
InterimResults/image0048.jpg
InterimResults/image0049.jpg
InterimResults/image0050.jpg
InterimResults/image0200.jpg
InterimResults/image0201.jpg
InterimResults/image0202.jpg
InterimResults/image0203.jpg
InterimResults/image0204.jpg
InterimResults/image0205.jpg
InterimResults/image0206.jpg
InterimResults/image0207.jpg
InterimResults/image0208.jpg
InterimResults/image0209.jpg
InterimResults/image0210.jpg
InterimResults/image0211.jpg
InterimResults/image0212.jpg
InterimResults/image0213.jpg
InterimResults/image0214.jpg
InterimResults/image0215.jpg
InterimResults/image0216.jpg
InterimResults/image0217.jpg
InterimResults/image0218.jpg
InterimResults/image0219.jpg
InterimResults/image0220.jpg
InterimResults/image0300.jpg
InterimResults/image0301.jpg
InterimResults/image0302.jpg
InterimResults/image0303.jpg
InterimResults/image0304.jpg
InterimResults/image0305.jpg
InterimResults/image0306.jpg
InterimResults/image0307.jpg
InterimResults/image0308.jpg
InterimResults/image0309.jpg
InterimResults/image0310.jpg
InterimResults/image0311.jpg
InterimResults/image0312.jpg
InterimResults/image0313.jpg
InterimResults/image0314.jpg
InterimResults/image0315.jpg
InterimResults/image0316.jpg
InterimResults/image0317.jpg
InterimResults/image0318.jpg
InterimResults/image0319.jpg
InterimResults/image0320.jpg
InterimResults/image0321.jpg
InterimResults/image0322.jpg
InterimResults/image0323.jpg
InterimResults/image0324.jpg
InterimResults/image0325.jpg
InterimResults/image0326.jpg
InterimResults/image0327.jpg
InterimResults/image0328.jpg
InterimResults/image0329.jpg
InterimResults/image0330.jpg

Final Result/
InterimResults/image0001_A_WeldGapPosition.jpg
InterimResults/image0001_B_InterimResultY.jpg
InterimResults/image0002_A_WeldGapPosition.jpg
InterimResults/image0002_B_InterimResultY.jpg
InterimResults/image0003_A_WeldGapPosition.jpg
InterimResults/image0003_B_InterimResultY.jpg
InterimResults/image0004_A_WeldGapPosition.jpg
InterimResults/image0004_B_InterimResultY.jpg
InterimResults/image0005_A_WeldGapPosition.jpg
InterimResults/image0005_B_InterimResultY.jpg
InterimResults/image0006_A_WeldGapPosition.jpg
InterimResults/image0006_B_InterimResultY.jpg
InterimResults/image0007_A_WeldGapPosition.jpg
InterimResults/image0007_B_InterimResultY.jpg
InterimResults/image0008_A_WeldGapPosition.jpg
InterimResults/image0008_B_InterimResultY.jpg
InterimResults/image0009_A_WeldGapPosition.jpg
InterimResults/image0009_B_InterimResultY.jpg
InterimResults/image0010_A_WeldGapPosition.jpg
InterimResults/image0010_B_InterimResultY.jpg
InterimResults/image0011_A_WeldGapPosition.jpg
InterimResults/image0011_B_InterimResultY.jpg
InterimResults/image0012_A_WeldGapPosition.jpg
InterimResults/image0012_B_InterimResultY.jpg
InterimResults/image0013_A_WeldGapPosition.jpg
InterimResults/image0013_B_InterimResultY.jpg
InterimResults/image0014_A_WeldGapPosition.jpg
InterimResults/image0014_B_InterimResultY.jpg
InterimResults/image0015_A_WeldGapPosition.jpg
InterimResults/image0015_B_InterimResultY.jpg
InterimResults/image0016_A_WeldGapPosition.jpg
InterimResults/image0016_B_InterimResultY.jpg
InterimResults/image0017_A_WeldGapPosition.jpg
InterimResults/image0017_B_InterimResultY.jpg
InterimResults/image0018_A_WeldGapPosition.jpg
InterimResults/image0018_B_InterimResultY.jpg
InterimResults/image0019_A_WeldGapPosition.jpg
InterimResults/image0019_B_InterimResultY.jpg
InterimResults/image0020_A_WeldGapPosition.jpg
InterimResults/image0020_B_InterimResultY.jpg
InterimResults/image0021_A_WeldGapPosition.jpg
InterimResults/image0021_B_InterimResultY.jpg
InterimResults/image0022_A_WeldGapPosition.jpg
InterimResults/image0022_B_InterimResultY.jpg
InterimResults/image0023_A_WeldGapPosition.jpg
InterimResults/image0023_B_InterimResultY.jpg
InterimResults/image0024_A_WeldGapPosition.jpg
InterimResults/image0024_B_InterimResultY.jpg
InterimResults/image0025_A_WeldGapPosition.jpg
InterimResults/image0025_B_InterimResultY.jpg
InterimResults/image0026_A_WeldGapPosition.jpg
InterimResults/image0026_B_InterimResultY.jpg
InterimResults/image0027_A_WeldGapPosition.jpg
InterimResults/image0027_B_InterimResultY.jpg
InterimResults/image0028_A_WeldGapPosition.jpg
InterimResults/image0028_B_InterimResultY.jpg
InterimResults/image0029_A_WeldGapPosition.jpg
InterimResults/image0029_B_InterimResultY.jpg
InterimResults/image0030_A_WeldGapPosition.jpg
InterimResults/image0030_B_InterimResultY.jpg
InterimResults/image0031_A_WeldGapPosition.jpg
InterimResults/image0031_B_InterimResultY.jpg
InterimResults/image0032_A_WeldGapPosition.jpg
InterimResults/image0032_B_InterimResultY.jpg
InterimResults/image0033_A_WeldGapPosition.jpg
InterimResults/image0033_B_InterimResultY.jpg
InterimResults/image0034_A_WeldGapPosition.jpg
InterimResults/image0034_B_InterimResultY.jpg
InterimResults/image0035_A_WeldGapPosition.jpg
InterimResults/image0035_B_InterimResultY.jpg
InterimResults/image0036_A_WeldGapPosition.jpg
InterimResults/image0036_B_InterimResultY.jpg
InterimResults/image0037_A_WeldGapPosition.jpg
InterimResults/image0037_B_InterimResultY.jpg
InterimResults/image0038_A_WeldGapPosition.jpg
InterimResults/image0038_B_InterimResultY.jpg
InterimResults/image0039_A_WeldGapPosition.jpg
InterimResults/image0039_B_InterimResultY.jpg
InterimResults/image0040_A_WeldGapPosition.jpg
InterimResults/image0040_B_InterimResultY.jpg
InterimResults/image0041_A_WeldGapPosition.jpg
InterimResults/image0041_B_InterimResultY.jpg
InterimResults/image0042_A_WeldGapPosition.jpg
InterimResults/image0042_B_InterimResultY.jpg
InterimResults/image0043_A_WeldGapPosition.jpg
InterimResults/image0043_B_InterimResultY.jpg
InterimResults/image0044_A_WeldGapPosition.jpg
InterimResults/image0044_B_InterimResultY.jpg
InterimResults/image0045_A_WeldGapPosition.jpg
InterimResults/image0045_B_InterimResultY.jpg
InterimResults/image0046_A_WeldGapPosition.jpg
InterimResults/image0046_B_InterimResultY.jpg
InterimResults/image0047_A_WeldGapPosition.jpg
InterimResults/image0047_B_InterimResultY.jpg
InterimResults/image0048_A_WeldGapPosition.jpg
InterimResults/image0048_B_InterimResultY.jpg
InterimResults/image0049_A_WeldGapPosition.jpg
InterimResults/image0049_B_InterimResultY.jpg
InterimResults/image0050_A_WeldGapPosition.jpg
InterimResults/image0050_B_InterimResultY.jpg
InterimResults/image0200_A_WeldGapPosition.jpg
InterimResults/image0200_B_InterimResultY.jpg
InterimResults/image0201_A_WeldGapPosition.jpg
InterimResults/image0201_B_InterimResultY.jpg
InterimResults/image0202_A_WeldGapPosition.jpg
InterimResults/image0202_B_InterimResultY.jpg
InterimResults/image0203_A_WeldGapPosition.jpg
InterimResults/image0203_B_InterimResultY.jpg
InterimResults/image0204_A_WeldGapPosition.jpg
InterimResults/image0204_B_InterimResultY.jpg
InterimResults/image0205_A_WeldGapPosition.jpg
InterimResults/image0205_B_InterimResultY.jpg
InterimResults/image0206_A_WeldGapPosition.jpg
InterimResults/image0206_B_InterimResultY.jpg
InterimResults/image0207_A_WeldGapPosition.jpg
InterimResults/image0207_B_InterimResultY.jpg
InterimResults/image0208_A_WeldGapPosition.jpg
InterimResults/image0208_B_InterimResultY.jpg
InterimResults/image0209_A_WeldGapPosition.jpg
InterimResults/image0209_B_InterimResultY.jpg
InterimResults/image0210_A_WeldGapPosition.jpg
InterimResults/image0210_B_InterimResultY.jpg
InterimResults/image0211_A_WeldGapPosition.jpg
InterimResults/image0211_B_InterimResultY.jpg
InterimResults/image0212_A_WeldGapPosition.jpg
InterimResults/image0212_B_InterimResultY.jpg
InterimResults/image0213_A_WeldGapPosition.jpg
InterimResults/image0213_B_InterimResultY.jpg
InterimResults/image0214_A_WeldGapPosition.jpg
InterimResults/image0214_B_InterimResultY.jpg
InterimResults/image0215_A_WeldGapPosition.jpg
InterimResults/image0215_B_InterimResultY.jpg
InterimResults/image0216_A_WeldGapPosition.jpg
InterimResults/image0216_B_InterimResultY.jpg
InterimResults/image0217_A_WeldGapPosition.jpg
InterimResults/image0217_B_InterimResultY.jpg
InterimResults/image0218_A_WeldGapPosition.jpg
InterimResults/image0218_B_InterimResultY.jpg
InterimResults/image0219_A_WeldGapPosition.jpg
InterimResults/image0219_B_InterimResultY.jpg
InterimResults/image0220_A_WeldGapPosition.jpg
InterimResults/image0220_B_InterimResultY.jpg
InterimResults/image0300_A_WeldGapPosition.jpg
InterimResults/image0300_B_InterimResultY.jpg
InterimResults/image0301_A_WeldGapPosition.jpg
InterimResults/image0301_B_InterimResultY.jpg
InterimResults/image0302_A_WeldGapPosition.jpg
InterimResults/image0302_B_InterimResultY.jpg
InterimResults/image0303_A_WeldGapPosition.jpg
InterimResults/image0303_B_InterimResultY.jpg
InterimResults/image0304_A_WeldGapPosition.jpg
InterimResults/image0304_B_InterimResultY.jpg
InterimResults/image0305_A_WeldGapPosition.jpg
InterimResults/image0305_B_InterimResultY.jpg
InterimResults/image0306_A_WeldGapPosition.jpg
InterimResults/image0306_B_InterimResultY.jpg
InterimResults/image0307_A_WeldGapPosition.jpg
InterimResults/image0307_B_InterimResultY.jpg
InterimResults/image0308_A_WeldGapPosition.jpg
InterimResults/image0308_B_InterimResultY.jpg
InterimResults/image0309_A_WeldGapPosition.jpg
InterimResults/image0309_B_InterimResultY.jpg
InterimResults/image0310_A_WeldGapPosition.jpg
InterimResults/image0310_B_InterimResultY.jpg
InterimResults/image0311_A_WeldGapPosition.jpg
InterimResults/image0311_B_InterimResultY.jpg
InterimResults/image0312_A_WeldGapPosition.jpg
InterimResults/image0312_B_InterimResultY.jpg
InterimResults/image0313_A_WeldGapPosition.jpg
InterimResults/image0313_B_InterimResultY.jpg
InterimResults/image0314_A_WeldGapPosition.jpg
InterimResults/image0314_B_InterimResultY.jpg
InterimResults/image0315_A_WeldGapPosition.jpg
InterimResults/image0315_B_InterimResultY.jpg
InterimResults/image0316_A_WeldGapPosition.jpg
InterimResults/image0316_B_InterimResultY.jpg
InterimResults/image0317_A_WeldGapPosition.jpg
InterimResults/image0317_B_InterimResultY.jpg
InterimResults/image0318_A_WeldGapPosition.jpg
InterimResults/image0318_B_InterimResultY.jpg
InterimResults/image0319_A_WeldGapPosition.jpg
InterimResults/image0319_B_InterimResultY.jpg
InterimResults/image0320_A_WeldGapPosition.jpg
InterimResults/image0320_B_InterimResultY.jpg
InterimResults/image0321_A_WeldGapPosition.jpg
InterimResults/image0321_B_InterimResultY.jpg
InterimResults/image0322_A_WeldGapPosition.jpg
InterimResults/image0322_B_InterimResultY.jpg
InterimResults/image0323_A_WeldGapPosition.jpg
InterimResults/image0323_B_InterimResultY.jpg
InterimResults/image0324_A_WeldGapPosition.jpg
InterimResults/image0324_B_InterimResultY.jpg
InterimResults/image0325_A_WeldGapPosition.jpg
InterimResults/image0325_B_InterimResultY.jpg
InterimResults/image0326_A_WeldGapPosition.jpg
InterimResults/image0326_B_InterimResultY.jpg
InterimResults/image0327_A_WeldGapPosition.jpg
InterimResults/image0327_B_InterimResultY.jpg
InterimResults/image0328_A_WeldGapPosition.jpg
InterimResults/image0328_B_InterimResultY.jpg
InterimResults/image0329_A_WeldGapPosition.jpg
InterimResults/image0329_B_InterimResultY.jpg
InterimResults/image0330_A_WeldGapPosition.jpg
InterimResults/image0330_B_InterimResultY.jpg
